<html>

<head>
    <title>Corrections System based on Inter-word Dependency</title>
    <meta charset='utf8'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    
    <style>
        target {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
            </ul>
        </div>
    </nav>

    
    <div class="p-3"></div>


    <section class="row m-4">
        <div class="pl-4 col">
            <form class="edit-mode">
                <div class="form-group">
                    <textarea id="content-block" class="h-50 form-control" aria-label="content">I want to discuss about my life. I rely my ability. I am able to do something. I love to apple. I love to do something.</textarea>
                </div>
                <button id="btn-correct" class="btn btn-primary">Submit</button>
            </form>
            <div class="edit-mode" style="display: none">
                <button id="btn-return" class="btn btn-outline-primary btn-sm">Back</button>
                <div id="edit-block" class="mt-2"></div>
            </div>
        </div>

        <div class="col">
            <h5 class="text-center" id="headline">Word (Pattern)</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Word</th>
                        <!-- <th scope="col">Before</th> -->
                        <!-- <th scope="col">Recommend</th> -->
                        <th scope="col">N-gram</th>
                    </tr>
                </thead>
                <tbody id="sug-table"></tbody>
            </table>
        </div>
    </section>

    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>

</html>